extends layout

block content
	.container
	h1 About this website
	p This website is mainly my personal webpage. I might put some interesting projects up here for people to learn. Some interesting resources might be shared just for fun. More functions might be added to make this a more interesting website.
	p All the code including this site can be found on 
		a(href='https://github.com/YijunWang0320') GitHub